<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/index.css">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
    <meta charset="utf-8">
     <title>Die.t Hard </title>
     <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  </head>

  
  <nav class="navbar navbar-expand-lg  naviga">
    <div class="container-fluid">
    <a href="/"><img src="images/icon.png" alt="HTML5 Icon" height="100rem" width="100rem"> </a>
      <a class="navbar-brand shad" href="/"> Die.T HARD</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  
      </button>
      <div  class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <a class="nav-link Tracker shad" id="tracker"  href="/tracker"  style="color: black">Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link Your Goals shad" id= "goal" href="/goal" style="color: black">Your Goals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link shad" id=""  href="/lessons" style="color: black">Lessons</a>
            <section id="lessontopic">
              <li>
                 <a class="" id="tracker"  href=#lesson1  style="color: black">  1.The BasicsFood & Calories </a>
              </li>
                <li>
                <a class="" id="tracker"  href=#lesson2  style="color: black">  2.Calories and Nutrients </a>
                </li>
                <li>
                  <a class="" id="tracker"  href=#lesson3  style="color: black">  3.Activities & Caloric consumption </a>
                </li>
                <li>
                   <a class="" id="tracker"  href=#lesson4  style="color: black"  >4. Servings & Portions</a>
                </li>
  
              </section>
          </li>
  
        </ul>
        <form class="d-flex">
          <input class="form-control " name = "searchsize" type="search" placeholder="Search" aria-label="Search">
          <a href="" class="btn btn-success" >Search</a>
  
    <a href="" class="btn btn-success btnnav" id="signupbtn" data-toggle="modal" data-target="#signupPage">Sign up<i class="fas fa-user-plus ml-3"></i></a>
    <a href="" class="btn btn-success btnnav" id="signinbtn" data-toggle="modal" data-target="#signinPage">Sign in<i class="fas fa-sign-in-alt ml-3"></i></a>
    <a id ="profile" href="/profile"  class="btn btn-success" ><i class="fas fa-user-tie"></i></a>
  
        </form>
  
  
      </div>
    </div>
  </nav>
  <div class="modal fade" id="signupPage">
      <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/register">
          <div class="modal-header text-center">
            <h4 class="modal-title text-center w-100 font-weight-bold">Sign Up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"> </i>
                          <label data-error="wrong" data-success="right">Your Name</label>
              <input type="text" name="name" class="form-control validate"  placeholder="Name">
  
            </div>
  
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
                          <label data-error="wrong" data-success="right">Your Email</label>
              <input type="email" name="username" class="form-control validate" placeholder="example@domain.com">
  
            </div>
  
  
            <div class="md-form mb-5">
              <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right">Your Password</label>
              <input type="password" name="password" class="form-control validate" placeholder="Remember for future reference">
  
            </div>
          </div>
  
          <div class="modal-footer d-flex justify-content-center">
  
            <button class="btn btn-success"  type="submit" data-toggle="modal" data-target="#thankyoumodal">Sign up</button>
  
            </div>
            
          
        </form>
        </div>
      </div>
    </div>
  
    <!--content of signin page-->
  
    <div class="modal fade" id="signinPage">
            <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" action="/login">
  
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold">Sign In</h3>
            <button type="button" class="close" data-dismiss="modal" aria-lable="close">&times;</button>
          </div>
  
          <div class="modal-body mx-4">
            <div class="md-form">
                          <i class="fas fa-envelope prefix grey-text"></i>
                <label data-error="wrong" data-success="right">Your Email</label>
                        <input type="email" name="username" class="form-control validate" placeholder="example@domain.com">
  
            </div>
  
            <div class="md-form">
                <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right">Your Password</label>
                        <input type="password" name="password" class="form-control validate">
            </div>
  
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-success"  data-toggle="modal" data-target="#dabmodal">Sign in<i class="fas fa-sign-in-alt ml-3"></i></button>
  
          </div>
            <p class="font-small dark-grey-text d-flex justify-content-center">or sign in with:</p>
  
            <div class="row my-3 justify-content-center">
              <button type="button" class="btn btn-outine-primary iconbtn"  data-toggle="modal" data-target="#dabmodal"><i class="fab fa-facebook-f text-center"></i></button>
              <button type="button" class="btn btn-outline-success iconbtn"  data-toggle="modal" data-target="#dabmodal"><i class="fab fa-twitter text-center"></i></button>
              <a href="/auth/google" type="button" class="btn btn-outline-danger iconbtn"  ><i class="fab fa-google-plus-g text-center"></i></a>
            </div>
          </div>
        </div>
      </form>
        </div>
      </div>
  
   <div class="modal fade" id="dabmodal" role="dialog">
       <div class="modal-dialog">
  
         <img class="cook2left med" src="turtle/dab.png" />
               </div>
           </div>
           <div class="modal fade" id="thankyoumodal" role="dialog">
               <div class="modal-dialog">
  
                 <img class="cook2left med" src="turtle/thankyou.png" />
                       </div>
                   </div>
  
  
