<%- include('partials/header') %>
<body class="imgbg" background="images/bgt.png" style="background-color:#D5EEBB;" >
<script src="https://platform.fatsecret.com/js?key=497b94cc80cc47f3b74763458bc04550&auto_load=true&theme=green"></script>

 <div id="my_container" class="fatsecret_container"></div>

<script>
    fatsecret.setContainer("my_container");
    fatsecret.setCanvas("home");
</script>
  

<%- include('partials/footer') %>