<%- include('partials/header') %>  
  <body class="imgbg" background="images/bgg.png" style="background-color: #D5EEBB;"  >




<!--
<img class="dumb med" src="turtle/dumb.png" /> -->

<img class="dumb med" src="turtle/tpizza1.png" alt=""  width="500" height="600">
<img class="med2 "src="turtle/tpizza2.png" alt="">

<div class="nav2">
  <ul>
    <!-- <li class="sidebutton gbutton"><button  onclick="window.location.href='page'" type="button">Edit Goals</button></li> -->

    <!-- <li class="sidebutton gbutton"><button type="button">Button</button></li> -->
  </ul></div>

<!--




  ACTIVITY LEVEL

kanishka add kardio onclick karke



-->




 <div class="dropdown">
    <button class="activitybutton dropbtn">
         ACTIVITY LEVEL
    </button>
    <div class="dropdown-content">
      <a href="#">LOSE WEIGHT</a>
      <a href="#">MANTAIN</a>
      <a href="#">GAIN MAINTAIN</a>
    </div>
  </div>

<!-- <div >
   <h1 class="heading">
     REquired daily caloric constrain to achieve desired goal.
   </h1>


</div> -->

<div id="piechart" class="piechart1">


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
  // Load google charts
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  // Draw the chart and set the chart values
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Nutrients', 'per Day'],
  ['Carbohydrate', 9],
  ['Fats', 8],
  ['Proteins', 2],
  ['Others', 2],
  ]);

    // Optional; add a title and set the width and height of the chart
    var options = {'title':'Macronutients', backgroundColor: 'transparent','width':600, 'height':400};

    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
  </script>

</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
     src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
    <script>
      var alanBtnInstance = alanBtn({
        key: "50b644f20055c0c8c8d53bf3648058312e956eca572e1d8b807a3e2338fdd0dc/stage",
        onCommand: function (commandData) {
          if (commandData.command === "go:back") {
            //call client code that will react to the received command
          }
        },
        rootEl: document.getElementById("alan-btn"),
      });
    </script>
<!-- >>>>>>> 4c1c1acd8e7026ceb2891a9b01f0acba1e7ee284 -->
 <script src="tracker.js" charset="utf-8"></script>
<!-- <footer>
  Made by Terrific Trio
</footer> -->

  </body>


</html>
