<%- include('partials/header') %>    

<body style="background-color:#D5EEBB;">
  <body class="imgbg" background="images/bgg.png" >



<div class="lbutton">
  <ul>
    <li class="sidebutton gbutton " ><button  onclick="window.location.href='#lesson1'" type="button"><h1>The Basics</h1><h1>Food & Calories</h1></button></li>
    <li class="sidebutton gbutton "><button  onclick="window.location.href='#lesson2'" type="button"><h1>Calories and</h1><h1>Nutrients</h1></button></li>
    <li class="sidebutton gbutton"><button  onclick="window.location.href='#lesson3'" type="button"><h1>Activities &</h1><h1>Caloric</h1><h1>consumption</h1> </button></li>
    <li class="sidebutton gbutton"><button  onclick="window.location.href='#lesson4'" type="button"><h1> Servings &</h1><h1>Portions</h1></button></li>
  </ul></div>
 
  <section id="matter" style="overflow:scroll;overflow-x: hidden;" >
    <div  ><div class="primary" id="lesson1">
          <section style="background-color:white">
            <h1>Lesson 1 :The Basics -Food and Calories</h1>

            <h2>What are calories?</h2>
<hr >
<p1>A calorie is a unit of energy , like a what is to power  .

Think of calories as objects in a storage box . Just like how you exchange item "to" and "from" a storage box --calories are a way of keeping track of the energy "in" and "out" of the body's energy budget .

</p1>
<img class="matterimg" src="https://media.istockphoto.com/vectors/infographic-fat-man-weight-calorie-illustration-vector-id576735470"/>



<h2>How are calories calculated ?</h2>
<hr>
<p1>In any given food item the main components are - Carbohydrates , Proteins and fats which are digestible and fibres which is non digestible .

So to calculate calories in any given item all you need to do is Add in the calories of carbs proteins and fats and subtract calorie content of fibres as they are indigestible</p1>

<img class="matterimg" src="https://d10lpgp6xz60nq.cloudfront.net/question-thumbnail/en_174305298.png"/>


<h2>Too many calculations ?</h2>
<hr>
<p1>
Lucky for you , we , at Di.et_HARD do all the that caloric counting hardwork for you all you have to do is input you preferences , stay consistent and keep a track of your nutrients .

</p1>
<br><br><br>
</section>
      </div>

      <div class="primary" id="lesson2">
              <section style="background-color:white">
                <h1>Lesson 2 :Calories and nutrients</h1>

              <h2>What Are nutrients ?</h2>
  <hr >
  The substances used by our body for energy are called Nutrients

  <img class="matterimg" src="https://www.verywellfit.com/thmb/QNfApUutAS0JNcOVEROIKf0IQXo=/735x0/nutrients-what-they-are-and-why-you-need-them-2507078-FINAL-e65d7ad29bdf4d99afca860abc76d19a.png"/>
<h2>Macronutrients</h2>
<hr/>
<p1>  Nutrients that our body needs in large amounts are called macronutrients ....</p1>
    <img class="matterimg" src="https://miro.medium.com/max/560/1*nHVLfunpr1ex2XBJYqmqVQ.png"/ >

  <h2>Micronutrients</h2>
  <hr />
  <p1>And those that our body needs in smaller quantities are called as micronutrients .</p1>
  <img class="matterimg" src="https://scontent.fbom3-1.fna.fbcdn.net/v/t1.6435-9/108952922_979307559171952_439420873284177317_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=BACZgbrWzw8AX_vjZ7o&_nc_ht=scontent.fbom3-1.fna&oh=00_AT-vfdZ5ASw0uNqOBXzxIatFQUld4BtZ5dByCbSqWUqyDg&oe=61F9527E"/>


  <li>Carbs are used for quick energy</li>
  <li>Proteins help &repair tissues</li>
<li>Fats stores energy protect cells and send signals in the form of hormones around our body</p1>
<li>Fibres keep you digestive system healthy</li>
<li>Vitamins and minerals are important for various other functions</li>

<p1>  So almost any food you eat has calories in it , which is stored in your body as energy and each component of a meal carries out specific functions .
</p1>
<h2>Important tips</h2>
  <li>

    Don't skip fats &carbs in your diet . They play an important role in keeping us fit</li>
  <li>

    Choose fibre rich fruits and vegetables daily with your meals .</li>
  <li>

    A balanced diet is key to provide the right nutrients to your body</li>
    <br /><br /><br />
</section>
          </div>
          <div class="primary" id="lesson3">
                  <section style="background-color:white">
                     <h1>Lesson 3 :Common Activities and their caloric consumption</h1>

                  <h2>So where does this Energy go ?</h2>
      <hr >
      <p1>If you thought the only way you burned calories is through exercise you are in for a surprise !
Energy is used by your body in many ways but primarily for staying alive .
You burn about 70-80% of calories that you consume by just staying alive and processing food everyday(Basal metabolic rate (BMR)) . The rest 20% is what is utilized during conscious voluntary activities .
</p1>
  <img class="matterimg" src="https://www.information.com.sg/wp-content/uploads/2017/11/VyrAFM.jpg"/ >
<h2>Fundamental rules of any diet model </h2>
<hr />
<ul>
  MORE CALORIES IN THAN OUT =WEIGHT GAIN(Caloric Surplus)
</ul>
<ul>
CALORIES OUT THAN IN =WEIGHT LOSS(Caloric Deficit)
</ul>
<p1>This set of two rules dictate the formation any diet model . All this macronutrient , calorie energy balance sounds like mumbo jumbo to you ? Don't worry here at Die.t_HARD we do all these calculations for you and provide you with a daily meal plan according to your preferences .
</p1>
<h2>Some common exercises and their equivalent energy in terms of common food items.</h2>
<hr />
<li>

  55 min of jump rope-Burns 2 servings of Samosas</li>
<li>

  75 min of running - Burns 1large serving of French fries</li>
<li>

  60 min of Dancing-Burns 8 pieces of pani puris</li>
<li>

  75min of biking -Burns 1 piece of butter vada pav</li>
<p1>Note-These are just a generic layout of exercise energy equivalent for popular fatty foods , they differ from person to person based on their weight /speed and other component .</section>
</p1>
<br /><br /><br />
              </div>
              <div class="primary" id="lesson4">
                      <section style="background-color:white">
                      <h1>
                        Lesson : 4 Servings and Portions
                      </h1>
                    <h2>What is Serving Size ?</h2>
                    <hr />
                    <p1>Serving size is the standardized measured amount of food .
It is measured in amount of food -1 cup , 30 g of chips , 1 katori rice etc
For example -Here the number of serving in the bag is 1 and each serving size weighs 74 g . Now each caloric component of the 74 g worth of food tiem is laid out before you</p1>
  <img class="matterimg" src="https://www.kindpng.com/picc/m/482-4822152_nutrition-facts-chips-png-transparent-png.png" />
  <h2>How do you even measure 1 serving when nutritional information is unknown  for common unpackaged food items?</h2>
  <p1>This handy chary will help you visualize and remember 1 serving of common food !
It is important to use a universal guide to avoid eating too much or eating too less from your ideal caloric and nutrient constraint .</p1>
  <img class="matterimg" src="https://miro.medium.com/max/1400/1*4vWyzPIPRiXwtIduAJjX0A.jpeg" />
  <img class="matterimg" src="  https://www.researchgate.net/profile/Oluwatoyin-Ameh/publication/305074450/figure/fig1/AS:382036020875266@1468095893619/Using-your-hand-as-a-guide-to-estimate-portion-size.png"/>
<h2>Counting portion size </h2>
<hr />
<p1>A portion size is calculated based on how many calories you plan to consume a day You should then plan your menus by calculating how much of a certain food you can eat to remain within that limit Those are your portion sizes.

Its better to consult a nutritionist first when starting out to ensure that your diet plan meets your daily nutritional goals along with your weight goals .</p1>
<p1>Can't figure out servings and portion sizes ?</p1>
<br />
<p1>Don't worry we will create a customize meal plan for you with appropriate portion and servings : )</p1>
                  </section>
                  </div>
</div>

<%- include('partials/footer') %>  