<%- include('partials/header') %>  

  <body class="imgbg" background="images/bgt.png" style="background-color:#D5EEBB;" >

<!-- <body >
  <style >
    background-attachment: fixed;
background-position: center;
background-height:20px;
  </style> -->
<!-- <div class="nav2">
  <ul>
    <li class="sidebuttoncal"><html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
   IMPORTANT: No CSS link needed as of v1 - It's all inlined -->
    <!-- Pre v1.0.0 versions need the minified css -->
    <!-- <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'> -->
  <!-- </head>
  <body> -->
    <!-- <div id='app'>

      <v-date-picker v-model='selectedDate' />
    </div>

    1. Link Vue Javascript -->
    <!-- <script src='https://unpkg.com/vue/dist/vue.js'></script> -->

    <!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
    <!-- <script src='https://unpkg.com/v-calendar'></script> -->

    <!--3. Create the Vue instance-->
    <!-- <script>
      new Vue({
        el: '#app',
        data: {
          selectedDate: null,
        }
      })
    </script>
  </body>
</li>-->

<!--
<div class="flex-container">
<div class="align">
    <li class="sidebutton"><button type="button">Meal Layout</button></li>
    <li class="sidebutton"><button type="button">Actions</button></li>
    <li class="sidebutton"><button type="button">Regenerate Week</button></li>
</div>
-->



<!-- <div class="track">

  <button class="but gbut">SUNDAY</button>
  <button class="but gbut">MONDAY</button>
  <button class="but gbut">TUESDAY</button>
  <button class="but gbut">WEDNESDAY</button>
  <button class="but gbut">THURSDAY</button>
  <button class="but gbut">FRIDAY</button>
  <button class="but gbut ">SATURDAY</button >

    <div > -->
<!--
<div class="rotate"><h3>BREAKFAST</h3></div>
<p1 class="meal"> 3 scrambled egg(1 whole egg) + 3 boiled egg whites +  3 slices toast</p1>
    </div>

    <div class="card" id="rcorners1">

    <div class="rotate"><h3>LUNCH</h3></div>
    <p1 class="meal">1 CHAPATI + 1 ladle paneer bhurji + 1 bowl vegetable pulao + 0.5 bowl vegetable raita</p1>

    </div>
    <div class="card" id="rcorners1">

    <div class="rotate"><h3>DINNER</h3></div>
    <p1 class="meal">2 spoon hummus + 1.5 toasted pita bread + 1 bowl greek salad</p1>

    </div>

  </div>
  -->
<!-- </div> -->
<!---->

<div class="nutrienttable">
  <table class="table">
 
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Dish</th>
        <th scope="col">Bread</th>
        <th scope="col"></th>     
        <th scope="col">Protein</th>
        <th scope="col">Carbohydrate</th>
        <th scope="col">Fats</th>
        <th scope="col">Calories</th>
        <th scope="col">Serving Size</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        
        <th rowspan="3" scope="row">Breakfast</th>
          <tr>
              <th rowspan="3" scope="row">Breakfast</th>
              <th rowspan="3" scope="row">Breakfast</th>
              <th scope="row">Fullfilled</th>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
            </tr>
            <tr>
                      
              <th scope="row">Required</th>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
            </tr>
      </tr>
      <tr>
        
        <th rowspan="3" scope="row">Lunch</th>
        <tr>
          <th rowspan="3" scope="row">Breakfast</th>
          <th rowspan="3" scope="row">Breakfast</th>
          <th scope="row">Fullfilled</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
        </tr>
        <tr>
                  
          <th scope="row">Required</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
        </tr>
      </tr>
      <tr>
        
        <th rowspan="3" scope="row">Dinner</th>
          <tr>
            <th rowspan="3" scope="row">Breakfast</th>
            <th rowspan="3" scope="row">Breakfast</th>
            <th scope="row">Fullfilled</th>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
          <tr>
                    
            <th scope="row">Required</th>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
          </tr>
      </tr>
     
    </tbody>
   
  </table>
  
</div>




        

      




<%- include('partials/footer') %>  