body{
  /* newly added */
  color: #D5EEBB;
background-color: #b4ffc7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.btn{
  margin-left: 0.5rem;
 color: #5F7A61;
}
.shad{
  text-shadow: 1px 1px white;
}
.shad:hover{
  font-size: 1.2rem;
}
@media only screen and (min-width: 1000px)
{
  .quote{
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    padding: 7rem 5rem 2rem 24rem;
    font-size: 2.75rem;
  }
  .text_main p{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: right;
    color: white;
    text-shadow: 1px 1px black;
    /* padding: 0rem 1rem 5rem 1rem; */
    margin-left: 30rem;
    margin-right: 2rem;
    margin-bottom: 8rem;

  }
.t3{
  position: absolute;
  margin: 16rem 0rem 1rem 63rem;
  height: 12rem;
  width: 15rem;

}
}
@media only screen and (max-width: 1000px) {
  .quote{
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    /* margin:1000rem 0.5rem 0.5rem 0.5rem; */
    padding: 33rem 2rem 2rem 2rem;
    font-size: 2.75rem;
  }
  .text_main p{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    padding: 0rem 1rem 5rem 1rem;

  }


}
@media only screen and (max-width: 1240px) {.t3{
display: none;

}

}

.naviga{
color:black;
 position: fixed;
  /* background-color: #7FC8A9; */
  /* padding-top: 0rem; */
}
#navbarl{position: fixed;}

.cook2left{
  position: absolute;
  margin-top: 2rem;
  margin-left: 8.5rem;
  height: 20rem;
  width: 15rem;
}
.cook2left2{
  position: absolute;
  margin-top: 12rem;
  margin-left: 15rem;
  height: 20rem;
  width: 20rem;
}
.carousel{
  height: 20rem;
  /* width: 50rem; */
  /* margin-left: 5rem; */
  /* margin-top: 5rem ; */
  margin: 15rem 5rem 5rem 5rem;
}
footer{
  /* background-color:#444941; */
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;


}
.carousel{
    background-color: #D5EEBB;
    border-color: black;
    border-radius: 1rem;;
  /* margin-top: 100px; */
}
.carousel-inner{
  height: 200px;
  text-align:center;
}
.carousel-item{


}
.des{
  font-size:3rem;
  padding: auto auto auto auto;
}

.about{
  font-size: 4rem;
  margin:4rem auto 2rem auto;
  text-align: center;
}
.sidebutton{
  padding: 2rem;
}
.nav2 {
  position:absolute ;
}
.sidebutton{

  background-color: white; /* Green */
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  color: black;
  border-color: #444941;
  padding: 15px 32px;
  margin:1rem 2rem 1rem 2rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
}
.sidebutton:hover {
  background-color: #5F7A61; /* Green */
  color: white;
}
.sidebutton:active {

  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
.sidebuttoncal
{border-style: solid;
border-color: #444941;
  border-width: 1px;
  border-radius: 0.7rem;
  margin:1rem 2rem 1rem 2rem;

}
.trun{
  position: absolute;
  margin: -20rem 0rem 1rem 64rem;
  height: 20rem;
  width: 15rem;
  top: 100%;
  left: 30px;
  

}
.dumb{
  position: absolute;
  margin: 10rem 70rem 8rem 8rem;
  height: 15rem;
  width: 15rem;

}

.mug{
  position: absolute;
  margin: 7rem 0rem 0rem 2rem;
  height: 16.5rem;
  width: 11rem;

}
.gbutton{
  margin-left: 3.5rem;
}
#details {
  margin:1rem 1rem 2rem 15rem;
}
.bgcard{
  background-color: #5F7A61;
}
#country-state
{
  padding:0.4rem;
  border-radius: 0.3rem;
}
.dropdownlist
{ margin: 0.3rem 0.1rem;
  padding:0.4rem;
  border-radius: 0.3rem;
}
.btnnav{

  width:9rem;
  padding: -1rem -1rem -1rem -1rem;
}

.iconbtn{
  margin:0.5rem;
}
input[name="searchsize"]{
  width: 50%;
}
.lbutton{
  position: fixed;
  margin: 0rem 1rem 0rem -2rem;
}

#matter{
  position: absolute;
  background: white;
   color: black;
   margin: 0rem 0rem 1rem 15rem;
   border-radius: 1rem;
   padding: 2rem 3rem 3rem 3rem;
   width: 78%;
   height: 28rem;
   overflow: scroll;
   border: 1px solid #ccc;
}
@media only screen and (max-width: 1000px) {
.lbutton{
position: static;

}
#matter{
     margin: 0rem 0rem 1rem 1rem;
     width: 95%;
  }}
.matterimg{
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
margin-left: auto;
margin-right: auto;
width: 35%;

}
#matter h1
{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.2rem;

}
#matter h2
{   font-weight: 500;
    font-size: 1.5rem;
      padding: 0.2rem;
}
#matter p1
{
    font-size: 1rem;

}

@media only screen and (max-width: 548px) {
.mug{
display: none;
}
.nav2profile{
    position:static;
    margin-left: auto;
    margin-right: auto;

}
#details {
  margin:2rem 1rem 2rem 1rem;
}

}

.navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media only screen and (min-width: 990px) {
#lessontopic{
  display: none;
  }
}
@media only screen and (max-width: 990px) {
  .lbutton{
    display: none;
    }
}
/* .dropbtn{
   padding:10rem 0rem 0rem 45rem;
   font-size: 2rem;
} */
.activitybutton{
  background-color: white; /* Green */
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  color: black;
  border-color: #444941;
  padding: 15px 32px;
  margin:0rem 2rem 1rem 2rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  align-items: center;
}
/* .dropdown {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
.activitybutton:hover
{
    background-color:  #5F7A61; /* Green */
    color: white;

}

.dropbtn {

  background-color: white;
  color: black;
  padding: 16px 42px;
  font-size: 1.5rem;
  border: none;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin: 0;
  position: absolute;

  left: 50%;

  transform: translate(-50%, 80%);
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 16px 42px;
  font-size: 1.2rem;


}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:  #5F7A61;;}
.med2{
  position: absolute;
  float: right;
  margin: 10rem 2% 0rem 73%;
  height: 15rem;
  width: 15rem;
}

/* .heading{
  padding: 20rem 00rem 00rem 45rem;
} */


header{
  margin-top: 0%;
}
#my_container{
    
  width: 80%;    
  margin: 0rem auto -2.3rem auto;
  
  background-color:#CEE6B4;
  color: #444941;
  

}

.collapsible {
  background-color: #809b7b;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-shadow: 2px 2px black;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  
}

.active, .collapsible:hover {
  background-color: #809b7b;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #809b7b;}
#faq{
  margin:2rem;
}
.faqhead{
  font-size: 1.5rem;
}
.but{
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 16px 32px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
.gbut:hover{
  background-color: #809b7b;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.track{
    padding:0rem 0rem 0rem 9rem ;
}
.align{
  margin-top: 8rem;
}
.flex-container {
  display: flex;
}
.card{
    background-color: white;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    padding:3rem 2rem 4rem 2rem;

}
#rcorners1{
  border-radius: 15px;
}

.rotate{  position: absolute;
  writing-mode:vertical-lr ;

  margin-right:1% ;
  margin-left: 1%;
  padding:0rem 0rem 0rem 0rem;

}
.meal{
  margin-left: 2.5rem;
}

.piechart1{
  align-items: center;
  margin-left: 26%;
  margin-right: 26%;
  margin-top: 10%;
}
@media only screen and (max-width: 900px) {
  .med2{
display: none;
}
.dumb{
display: none;
}
.trun{
display: none;
}
.piechart1{
  margin: 0rem auto 0rem auto;
}
}
.profilecard{
  padding:0rem;
  width:auto;
}
.submit-form-btn{
  
  margin: 0.5rem;
}
.nutrienttable{
  margin: 3rem;
}
.outputfilecontainer{
  margin:0rem 1rem;
  padding:0rem 1rem;
  border-radius: 3%;
}
.outputfilecontainer2{
 width:80%;
 border-radius: 1%;
}
